esdl/model/esdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:esdl="http://www.tno.nl/esdl/1807" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="esdl" ecore:package="esdl" targetNamespace="http://www.tno.nl/esdl/1807">
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd"/>
  <xsd:element ecore:ignore="true" name="EnergyAsset" type="esdl:EnergyAsset"/>
  <xsd:element ecore:ignore="true" name="Producer" type="esdl:Producer"/>
  <xsd:element ecore:ignore="true" name="Consumer" type="esdl:Consumer"/>
  <xsd:element ecore:ignore="true" name="Storage" type="esdl:Storage"/>
  <xsd:element ecore:ignore="true" name="Conversion" type="esdl:Conversion"/>
  <xsd:element ecore:ignore="true" name="Transport" type="esdl:Transport"/>
  <xsd:element ecore:ignore="true" name="EnergySystem" type="esdl:EnergySystem"/>
  <xsd:element ecore:ignore="true" name="WindTurbine" type="esdl:WindTurbine"/>
  <xsd:element ecore:ignore="true" name="PVPanel" type="esdl:PVPanel"/>
  <xsd:element ecore:ignore="true" name="Battery" type="esdl:Battery"/>
  <xsd:element ecore:ignore="true" name="ElectricityNetwork" type="esdl:ElectricityNetwork"/>
  <xsd:element ecore:ignore="true" name="ElectricityCable" type="esdl:ElectricityCable"/>
  <xsd:element ecore:ignore="true" name="AggregatedConsumer" type="esdl:AggregatedConsumer"/>
  <xsd:element ecore:ignore="true" name="BuildingUnit" type="esdl:BuildingUnit"/>
  <xsd:element ecore:ignore="true" name="Area" type="esdl:Area"/>
  <xsd:element ecore:ignore="true" name="Port" type="esdl:Port"/>
  <xsd:element ecore:ignore="true" name="AggregatedProducer" type="esdl:AggregatedProducer"/>
  <xsd:element ecore:ignore="true" name="InPort" type="esdl:InPort"/>
  <xsd:element ecore:ignore="true" name="OutPort" type="esdl:OutPort"/>
  <xsd:element ecore:ignore="true" name="Asset" type="esdl:Asset"/>
  <xsd:element ecore:ignore="true" name="GenericConsumer" type="esdl:GenericConsumer"/>
  <xsd:element ecore:ignore="true" name="GenericProducer" type="esdl:GenericProducer"/>
  <xsd:element ecore:ignore="true" name="GenericStorage" type="esdl:GenericStorage"/>
  <xsd:element ecore:ignore="true" name="GenericTransport" type="esdl:GenericTransport"/>
  <xsd:element ecore:ignore="true" name="GenericConversion" type="esdl:GenericConversion"/>
  <xsd:element ecore:ignore="true" name="AggregatedTransport" type="esdl:AggregatedTransport"/>
  <xsd:element ecore:ignore="true" name="AggregatedConversion" type="esdl:AggregatedConversion"/>
  <xsd:element ecore:ignore="true" name="AggregatedStorage" type="esdl:AggregatedStorage"/>
  <xsd:element ecore:ignore="true" name="Building" type="esdl:Building"/>
  <xsd:element ecore:ignore="true" name="HeatStorage" type="esdl:HeatStorage"/>
  <xsd:element ecore:ignore="true" name="GasHeater" type="esdl:GasHeater"/>
  <xsd:element ecore:ignore="true" name="HeatNetwork" type="esdl:HeatNetwork"/>
  <xsd:element ecore:ignore="true" name="GasNetwork" type="esdl:GasNetwork"/>
  <xsd:element ecore:ignore="true" name="Insulation" type="esdl:Insulation"/>
  <xsd:element ecore:ignore="true" name="SinkProducer" type="esdl:SinkProducer"/>
  <xsd:element ecore:ignore="true" name="SinkConsumer" type="esdl:SinkConsumer"/>
  <xsd:element ecore:ignore="true" name="Pipe" type="esdl:Pipe"/>
  <xsd:element ecore:ignore="true" name="GeothermalSource" type="esdl:GeothermalSource"/>
  <xsd:element ecore:ignore="true" name="CoGeneration" type="esdl:CoGeneration"/>
  <xsd:element ecore:ignore="true" name="HeatPump" type="esdl:HeatPump"/>
  <xsd:element ecore:ignore="true" name="HeatingDemand" type="esdl:HeatingDemand"/>
  <xsd:element ecore:ignore="true" name="ElectricityDemand" type="esdl:ElectricityDemand"/>
  <xsd:element ecore:ignore="true" name="GasDemand" type="esdl:GasDemand"/>
  <xsd:element ecore:ignore="true" name="GeothermalPotential" type="esdl:GeothermalPotential"/>
  <xsd:element ecore:ignore="true" name="Point" type="esdl:Point"/>
  <xsd:element ecore:ignore="true" name="Polygon" type="esdl:Polygon"/>
  <xsd:element ecore:ignore="true" name="EconomicProperties" type="esdl:EconomicProperties"/>
  <xsd:element ecore:ignore="true" name="SocialProperties" type="esdl:SocialProperties"/>
  <xsd:element ecore:ignore="true" name="LegalArea" type="esdl:LegalArea"/>
  <xsd:element ecore:ignore="true" name="EnergyService" type="esdl:EnergyService"/>
  <xsd:element ecore:ignore="true" name="DemandResponseService" type="esdl:DemandResponseService"/>
  <xsd:element ecore:ignore="true" name="Transformer" type="esdl:Transformer"/>
  <xsd:element ecore:ignore="true" name="HeatExchange" type="esdl:HeatExchange"/>
  <xsd:element ecore:ignore="true" name="Item" type="esdl:Item"/>
  <xsd:element ecore:ignore="true" name="Measures" type="esdl:Measures"/>
  <xsd:element ecore:ignore="true" name="EConnection" type="esdl:EConnection"/>
  <xsd:element ecore:ignore="true" name="HConnection" type="esdl:HConnection"/>
  <xsd:element ecore:ignore="true" name="GConnection" type="esdl:GConnection"/>
  <xsd:element ecore:ignore="true" name="PowerPlant" type="esdl:PowerPlant"/>
  <xsd:element ecore:ignore="true" name="AbstractBuilding" type="esdl:AbstractBuilding"/>
  <xsd:element ecore:ignore="true" name="Instance" type="esdl:Instance"/>
  <xsd:element ecore:ignore="true" name="Service" type="esdl:Service"/>
  <xsd:element ecore:ignore="true" name="AggregatorService" type="esdl:AggregatorService"/>
  <xsd:element ecore:ignore="true" name="EVChargingStation" type="esdl:EVChargingStation"/>
  <xsd:element ecore:ignore="true" name="Potential" type="esdl:Potential"/>
  <xsd:element ecore:ignore="true" name="WindPotential" type="esdl:WindPotential"/>
  <xsd:element ecore:ignore="true" name="AggregatedBuilding" type="esdl:AggregatedBuilding"/>
  <xsd:element ecore:ignore="true" name="Potentials" type="esdl:Potentials"/>
  <xsd:element ecore:ignore="true" name="EnergyCarrier" type="esdl:EnergyCarrier"/>
  <xsd:element ecore:ignore="true" name="Losses" type="esdl:Losses"/>
  <xsd:element ecore:ignore="true" name="PowerToX" type="esdl:PowerToX"/>
  <xsd:element ecore:ignore="true" name="CCS" type="esdl:CCS"/>
  <xsd:element ecore:ignore="true" name="AvailableEnergyCarriers" type="esdl:AvailableEnergyCarriers"/>
  <xsd:element ecore:ignore="true" name="FuelCell" type="esdl:FuelCell"/>
  <xsd:element ecore:ignore="true" name="XToPower" type="esdl:XToPower"/>
  <xsd:element ecore:ignore="true" name="WindParc" type="esdl:WindParc"/>
  <xsd:element ecore:ignore="true" name="PVParc" type="esdl:PVParc"/>
  <xsd:element ecore:ignore="true" name="EnergySystemInformation" type="esdl:EnergySystemInformation"/>
  <xsd:element ecore:ignore="true" name="Pump" type="esdl:Pump"/>
  <xsd:element ecore:ignore="true" name="Valve" type="esdl:Valve"/>
  <xsd:element ecore:ignore="true" name="EnergyPrices" type="esdl:EnergyPrices"/>
  <xsd:element ecore:ignore="true" name="GenericProfile" type="esdl:GenericProfile"/>
  <xsd:element ecore:ignore="true" name="StaticProfile" type="esdl:StaticProfile"/>
  <xsd:element ecore:ignore="true" name="DateTimeProfile" type="esdl:DateTimeProfile"/>
  <xsd:element ecore:ignore="true" name="ProfileElement" type="esdl:ProfileElement"/>
  <xsd:element ecore:ignore="true" name="ExternalProfile" type="esdl:ExternalProfile"/>
  <xsd:element ecore:ignore="true" name="SingleValue" type="esdl:SingleValue"/>
  <xsd:element ecore:ignore="true" name="GenericDistribution" type="esdl:GenericDistribution"/>
  <xsd:element ecore:ignore="true" name="Percentile" type="esdl:Percentile"/>
  <xsd:element ecore:ignore="true" name="PercentileDistribution" type="esdl:PercentileDistribution"/>
  <xsd:element ecore:ignore="true" name="CoolingDemand" type="esdl:CoolingDemand"/>
  <xsd:element ecore:ignore="true" name="Airco" type="esdl:Airco"/>
  <xsd:element ecore:ignore="true" name="CostInformation" type="esdl:CostInformation"/>
  <xsd:element ecore:ignore="true" name="LabelDistribution" type="esdl:LabelDistribution"/>
  <xsd:element ecore:ignore="true" name="StringLabelDistribution" type="esdl:StringLabelDistribution"/>
  <xsd:element ecore:ignore="true" name="EnergyLabelDistribution" type="esdl:EnergyLabelDistribution"/>
  <xsd:element ecore:ignore="true" name="StringPerc" type="esdl:StringPerc"/>
  <xsd:element ecore:ignore="true" name="EnergyLabelPerc" type="esdl:EnergyLabelPerc"/>
  <xsd:element ecore:ignore="true" name="FromToDistribution" type="esdl:FromToDistribution"/>
  <xsd:element ecore:ignore="true" name="FromToPerc" type="esdl:FromToPerc"/>
  <xsd:element ecore:ignore="true" name="PItemStat" type="esdl:PItemStat"/>
  <xsd:element ecore:ignore="true" name="AbstractVariance" type="esdl:AbstractVariance"/>
  <xsd:element ecore:ignore="true" name="SymetricVariance" type="esdl:SymetricVariance"/>
  <xsd:element ecore:ignore="true" name="AssymetricVariance" type="esdl:AssymetricVariance"/>
  <xsd:element ecore:ignore="true" name="DoubleAssymetricVariance" type="esdl:DoubleAssymetricVariance"/>
  <xsd:element ecore:ignore="true" name="CHP" type="esdl:CHP"/>
  <xsd:element ecore:ignore="true" name="Party" type="esdl:Party"/>
  <xsd:element ecore:ignore="true" name="URIProfile" type="esdl:URIProfile"/>
  <xsd:element ecore:ignore="true" name="DatabaseProfile" type="esdl:DatabaseProfile"/>
  <xsd:element ecore:ignore="true" name="InfluxDBProfile" type="esdl:InfluxDBProfile"/>
  <xsd:element ecore:ignore="true" name="Line" type="esdl:Line"/>
  <xsd:element ecore:ignore="true" name="Geometry" type="esdl:Geometry"/>
  <xsd:element ecore:ignore="true" name="Commodity" type="esdl:Commodity"/>
  <xsd:element ecore:ignore="true" name="GasCommodity" type="esdl:GasCommodity"/>
  <xsd:element ecore:ignore="true" name="HeatCommodity" type="esdl:HeatCommodity"/>
  <xsd:element ecore:ignore="true" name="ElectricityCommodity" type="esdl:ElectricityCommodity"/>
  <xsd:element ecore:ignore="true" name="AvailableCommodities" type="esdl:AvailableCommodities"/>
  <xsd:element ecore:ignore="true" name="EnergyCarrierOrCommodity" type="esdl:EnergyCarrierOrCommodity"/>
  <xsd:element ecore:ignore="true" name="Range" type="esdl:Range"/>
  <xsd:element ecore:ignore="true" name="SolarFieldPotential" type="esdl:SolarFieldPotential"/>
  <xsd:element ecore:ignore="true" name="Duration" type="esdl:Duration"/>
  <xsd:element ecore:ignore="true" name="EnergyNetwork" type="esdl:EnergyNetwork"/>
  <xsd:complexType abstract="true" name="EnergyAsset">
    <xsd:complexContent>
      <xsd:extension base="esdl:Asset">
        <xsd:sequence>
          <xsd:element ecore:opposite="energyasset" ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="port" type="esdl:Port"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Producer">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute default="RENEWABLE" ecore:unsettable="false" name="prodType" type="esdl:RenewableTypeEnum"/>
        <xsd:attribute ecore:unsettable="false" name="operationalHours" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="fullLoadHours" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Consumer">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute default="PRIMARY" ecore:unsettable="false" name="consType" type="esdl:ConsTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Storage">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" minOccurs="0" name="profile" type="esdl:GenericProfile"/>
        </xsd:sequence>
        <xsd:attribute ecore:unsettable="false" name="capacity" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="efficiency" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Conversion">
    <xsd:annotation>
      <xsd:documentation>Conversion Capability</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute ecore:unsettable="false" name="efficiency" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="operationalHours" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="fullLoadHours" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Transport">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute ecore:unsettable="false" name="capacity" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="CommodityEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="ELECTRICITY"/>
      <xsd:enumeration value="GAS"/>
      <xsd:enumeration value="HEAT"/>
      <xsd:enumeration value="H2"/>
      <xsd:enumeration value="BIOGAS"/>
      <xsd:enumeration value="CO2"/>
      <xsd:enumeration value="ENERGY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EnergySystem">
    <xsd:annotation>
      <xsd:documentation>This is the entry class to describe an EnergySystem in ESDL</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ecore:unique="true" maxOccurs="unbounded" minOccurs="0" name="sector" type="esdl:SectorEnum"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="measures" type="esdl:Measures"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="instance" type="esdl:Instance"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="potentials" type="esdl:Potentials"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="energySystemInformation" type="esdl:EnergySystemInformation"/>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="party" type="esdl:Party"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute name="description" type="ecore:EString"/>
    <xsd:attribute name="geographicalScope" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="WindTurbine">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:attribute ecore:unsettable="false" name="power" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="rotorDiameter" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="height" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PVPanel">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:attribute ecore:unsettable="false" name="power" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="panelEfficiency" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="inverterEfficiency" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="angle" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="orientation" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Battery">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage">
        <xsd:attribute ecore:unsettable="false" name="selfDischarge" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="maxChargeDischargeCycli" type="ecore:EInt"/>
        <xsd:attribute default="0.0" ecore:unsettable="false" name="chargeEfficiency" type="ecore:EDouble"/>
        <xsd:attribute default="0.0" ecore:unsettable="false" name="dischargeEfficiency" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="maxChargeRate" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="maxDischargeRate" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ElectricityNetwork">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport">
        <xsd:attribute ecore:unsettable="false" name="voltage" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ElectricityCable">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport">
        <xsd:attribute ecore:unsettable="false" name="length" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AggregatedConsumer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer">
        <xsd:attribute ecore:reference="esdl:Consumer" name="aggregationOf">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BuildingUnit">
    <xsd:complexContent>
      <xsd:extension base="esdl:AbstractBuilding">
        <xsd:attribute ecore:unsettable="false" name="type" type="esdl:BuildingTypeEnum"/>
        <xsd:attribute ecore:unsettable="false" name="housingType" type="esdl:HousingTypeEnum"/>
        <xsd:attribute ecore:unsettable="false" name="numberOfInhabitants" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="inhabitantsType" type="esdl:InhabitantsTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Area">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="location" type="esdl:Point"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="contour" type="esdl:Polygon"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="socialProperties" type="esdl:SocialProperties"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="economicProperties" type="esdl:EconomicProperties"/>
      <xsd:element ecore:opposite="area" ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="asset" type="esdl:Asset"/>
      <xsd:element ecore:opposite="containingArea" ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="area" type="esdl:Area"/>
    </xsd:sequence>
    <xsd:attribute ecore:id="true" name="id" type="ecore:EString"/>
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute default="UNDEFINED" ecore:unsettable="false" name="scope" type="esdl:AreaScopeEnum"/>
    <xsd:attribute ecore:unsettable="false" name="type" type="esdl:AreaTypeEnum"/>
    <xsd:attribute ecore:opposite="areas" ecore:reference="esdl:Potential" name="potentials">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:opposite="area" ecore:reference="esdl:Area" name="containingArea" type="xsd:anyURI"/>
    <xsd:attribute ecore:opposite="ownsArea" ecore:reference="esdl:Party" name="isOwnedBy" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Port">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="profile" type="esdl:GenericProfile"/>
    </xsd:sequence>
    <xsd:attribute default="ELECTRICITY" ecore:unsettable="false" name="commodity" type="esdl:CommodityEnum"/>
    <xsd:attribute ecore:id="true" name="id" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="maxPower" type="ecore:EDouble"/>
    <xsd:attribute ecore:opposite="port" ecore:reference="esdl:EnergyAsset" name="energyasset" type="xsd:anyURI" use="required"/>
    <xsd:attribute ecore:reference="esdl:EnergyCarrierOrCommodity" name="energyCarrierOrCommodity" type="xsd:anyURI"/>
  </xsd:complexType>
  <xsd:complexType name="AggregatedProducer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:attribute ecore:reference="esdl:Producer" name="aggregationOf">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="AreaScopeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="BUILDING"/>
      <xsd:enumeration value="STREET"/>
      <xsd:enumeration value="NEIGHBOURHOOD"/>
      <xsd:enumeration value="DISTRICT"/>
      <xsd:enumeration value="VILLAGE"/>
      <xsd:enumeration value="CITY"/>
      <xsd:enumeration value="MUNICIPALITY"/>
      <xsd:enumeration value="REGION"/>
      <xsd:enumeration value="PROVINCE"/>
      <xsd:enumeration value="STATE"/>
      <xsd:enumeration value="COUNTRY"/>
      <xsd:enumeration value="CONTINENT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProfileTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="SOLARIRRADIANCE_IN_W_PER_M2"/>
      <xsd:enumeration value="WINDSPEED_IN_M_PER_S"/>
      <xsd:enumeration value="STATEOFCHARGE_IN_WS"/>
      <xsd:enumeration value="ENERGY_IN_WH"/>
      <xsd:enumeration value="ENERGY_IN_KWH"/>
      <xsd:enumeration value="ENERGY_IN_MWH"/>
      <xsd:enumeration value="ENERGY_IN_GWH"/>
      <xsd:enumeration value="ENERGY_IN_J"/>
      <xsd:enumeration value="ENERGY_IN_KJ"/>
      <xsd:enumeration value="ENERGY_IN_MJ"/>
      <xsd:enumeration value="ENERGY_IN_GJ"/>
      <xsd:enumeration value="ENERGY_IN_TJ"/>
      <xsd:enumeration value="ENERGY_IN_PJ"/>
      <xsd:enumeration value="TEMPERATURE_IN_C"/>
      <xsd:enumeration value="TEMPERATURE_IN_K"/>
      <xsd:enumeration value="POWER_IN_W"/>
      <xsd:enumeration value="POWER_IN_KW"/>
      <xsd:enumeration value="POWER_IN_MW"/>
      <xsd:enumeration value="POWER_IN_GW"/>
      <xsd:enumeration value="POWER_IN_TW"/>
      <xsd:enumeration value="MONEY_IN_EUR"/>
      <xsd:enumeration value="MONEY_IN_KEUR"/>
      <xsd:enumeration value="MONEY_IN_MEUR"/>
      <xsd:enumeration value="PERCENTAGE"/>
      <xsd:enumeration value="MONEY_IN_EUR_PER_KW"/>
      <xsd:enumeration value="MONEY_IN_EUR_PER_KWH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DurationUnitEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SECOND"/>
      <xsd:enumeration value="MINUTE"/>
      <xsd:enumeration value="HOUR"/>
      <xsd:enumeration value="DAY"/>
      <xsd:enumeration value="WEEK"/>
      <xsd:enumeration value="MONTH"/>
      <xsd:enumeration value="YEAR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InPort">
    <xsd:complexContent>
      <xsd:extension base="esdl:Port">
        <xsd:attribute ecore:opposite="connectedTo" ecore:reference="esdl:OutPort" name="connectedTo">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OutPort">
    <xsd:complexContent>
      <xsd:extension base="esdl:Port">
        <xsd:attribute ecore:opposite="connectedTo" ecore:reference="esdl:InPort" name="connectedTo">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Asset">
    <xsd:complexContent>
      <xsd:extension base="esdl:Item">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" minOccurs="0" name="geometry" type="esdl:Geometry"/>
          <xsd:element ecore:resolveProxies="true" minOccurs="0" name="costInformation" type="esdl:CostInformation"/>
        </xsd:sequence>
        <xsd:attribute ecore:unsettable="false" name="surfaceArea" type="ecore:EInt"/>
        <xsd:attribute name="commissioningDate" type="ecore:EDate"/>
        <xsd:attribute name="decommissioningDate" type="ecore:EDate"/>
        <xsd:attribute name="owner" type="ecore:EString"/>
        <xsd:attribute ecore:opposite="asset" ecore:reference="esdl:Area" name="area" type="xsd:anyURI"/>
        <xsd:attribute ecore:opposite="asset" ecore:reference="esdl:AbstractBuilding" name="containingBuilding" type="xsd:anyURI"/>
        <xsd:attribute ecore:unsettable="false" name="technicalLifetime" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericConsumer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericProducer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericStorage">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericTransport">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GenericConversion">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AggregatedTransport">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport">
        <xsd:attribute ecore:reference="esdl:Transport" name="aggregationOf">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AggregatedConversion">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion">
        <xsd:attribute ecore:reference="esdl:Conversion" name="aggregationOf">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AggregatedStorage">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage">
        <xsd:attribute ecore:reference="esdl:Storage" name="aggregationOf">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="BuildingTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="RESIDENTIAL"/>
      <xsd:enumeration value="GATHERING"/>
      <xsd:enumeration value="PRISON"/>
      <xsd:enumeration value="HEALTHCARE"/>
      <xsd:enumeration value="INDUSTRY"/>
      <xsd:enumeration value="OFFICE"/>
      <xsd:enumeration value="EDUCATION"/>
      <xsd:enumeration value="SPORTS"/>
      <xsd:enumeration value="SHOPPING"/>
      <xsd:enumeration value="GREENHOUSE"/>
      <xsd:enumeration value="OTHER"/>
      <xsd:enumeration value="UTILITY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Building">
    <xsd:complexContent>
      <xsd:extension base="esdl:AbstractBuilding">
        <xsd:attribute ecore:unsettable="false" name="buildingYear" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="residentialBuildingType" type="esdl:ResidentialBuildingTypeEnum"/>
        <xsd:attribute ecore:unsettable="false" name="floorArea" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="numberOfFloors" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="slantedRoofArea" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="flatRoofArea" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="roofType" type="esdl:RoofTypeEnum"/>
        <xsd:attribute ecore:unsettable="false" name="wallArea" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="windowArea" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="perimeter" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="height" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="rcFloor" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="rcWall" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="rcRoof" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="uWindow" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="orientation" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="glasType" type="esdl:GlasTypeEnum"/>
        <xsd:attribute ecore:unsettable="false" name="ventilationType" type="esdl:VentilationTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ConsTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="PRIMARY"/>
      <xsd:enumeration value="FINAL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HeatStorage">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage">
        <xsd:attribute default="0.0" ecore:unsettable="false" name="heatLoss" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="minStorageTemperature" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="maxStorageTemperature" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GasHeater">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion">
        <xsd:attribute ecore:unsettable="false" name="power" type="ecore:EDouble"/>
        <xsd:attribute default="0.0" ecore:unsettable="false" name="minimumBurnRate" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="type" type="esdl:GasHeaterTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HeatNetwork">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport">
        <xsd:attribute ecore:unsettable="false" name="temperature" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="temperatureMin" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="temperatureMax" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GasNetwork">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport">
        <xsd:attribute ecore:unsettable="false" name="pressure" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Insulation">
    <xsd:complexContent>
      <xsd:extension base="esdl:Asset">
        <xsd:attribute ecore:unsettable="false" name="thermalInsulation" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SinkProducer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SinkConsumer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Pipe">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport">
        <xsd:attribute ecore:unsettable="false" name="diameter" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="length" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeothermalSource">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:attribute ecore:unsettable="false" name="wellDepth" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="geothermalSourceType" type="esdl:GeothermalSourceTypeEnum"/>
        <xsd:attribute ecore:name="COP" ecore:unsettable="false" name="COP" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="aquiferTemperature" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="flowRate" type="ecore:EDouble"/>
        <xsd:attribute default="0.0" ecore:unsettable="false" name="outputPower" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="pumpPower" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="CoGeneration">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion">
        <xsd:attribute default="0.0" ecore:unsettable="false" name="heatEfficiency" type="ecore:EDouble"/>
        <xsd:attribute default="0.0" ecore:unsettable="false" name="electricalEfficiency" type="ecore:EDouble"/>
        <xsd:attribute ecore:reference="esdl:EnergyCarrier" name="energyCarrier" type="xsd:anyURI"/>
        <xsd:attribute default="0.0" ecore:unsettable="false" name="power" type="ecore:EDouble"/>
        <xsd:attribute ecore:name="HERatio" ecore:unsettable="false" name="HERatio" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="fuelType" type="esdl:PowerPlantFuelEnum"/>
        <xsd:attribute ecore:unsettable="false" name="leadCommodity" type="esdl:CommodityEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HeatPump">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion">
        <xsd:attribute ecore:unsettable="false" name="source" type="esdl:SourceTypeEnum"/>
        <xsd:attribute default="1" ecore:unsettable="false" name="stages" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="power" type="ecore:EDouble"/>
        <xsd:attribute ecore:name="COP" ecore:unsettable="false" name="COP" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="additionalHeatingSourceType" type="esdl:AdditionalHeatingSourceTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SourceTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="AIR"/>
      <xsd:enumeration value="SUB_SURFACE"/>
      <xsd:enumeration value="AQUIFER"/>
      <xsd:enumeration value="SURFACE_WATER"/>
      <xsd:enumeration value="HEAT_NETWORK"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AggrTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="NOT_AGGREGATED"/>
      <xsd:enumeration value="PER_COMMODITY"/>
      <xsd:enumeration value="TOTAL_ENERGY"/>
      <xsd:enumeration value="TOTAL_CAPABILITY"/>
      <xsd:enumeration value="PER_CAPIBILITY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AreaTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="ROAD"/>
      <xsd:enumeration value="RAILWAY"/>
      <xsd:enumeration value="TERRAIN"/>
      <xsd:enumeration value="RURAL_AREA"/>
      <xsd:enumeration value="BUILT"/>
      <xsd:enumeration value="WATER"/>
      <xsd:enumeration value="SEA"/>
      <xsd:enumeration value="RIVER"/>
      <xsd:enumeration value="CANAL"/>
      <xsd:enumeration value="LAKE"/>
      <xsd:enumeration value="LAND"/>
      <xsd:enumeration value="PARCEL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HeatingDemand">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer">
        <xsd:attribute ecore:unsettable="false" name="type" type="esdl:HeatDemandTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="HeatDemandTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="SPACE_HEATING"/>
      <xsd:enumeration value="HOT_TAPWATER"/>
      <xsd:enumeration value="SH_AND_HTW"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ElectricityDemand">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GasDemand">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GeothermalPotential">
    <xsd:complexContent>
      <xsd:extension base="esdl:Potential">
        <xsd:attribute ecore:unsettable="false" name="temperature" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="depth" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="potential" type="esdl:GeothermalPotentialEnum"/>
        <xsd:attribute default="UNKNOWN" ecore:unsettable="false" name="powerPerDoublet" type="esdl:GeothermalPowerEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Point">
    <xsd:complexContent>
      <xsd:extension base="esdl:Geometry">
        <xsd:attribute ecore:unsettable="false" name="lat" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="lon" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Polygon">
    <xsd:complexContent>
      <xsd:extension base="esdl:Geometry">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="3" name="point" type="esdl:Point"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="HousingTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="OWNER_OCCUPIED_PROPERTY"/>
      <xsd:enumeration value="PRIVATE_RENTAL"/>
      <xsd:enumeration value="HOUSING_ASSOCIATION"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EconomicProperties">
    <xsd:attribute ecore:unsettable="false" name="averageIncome" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="averageWOZvalue" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="percentageOwnerOccupiedProperties" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="percentageHousingAssociation" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="percentagePrivateRental" type="ecore:EDouble"/>
  </xsd:complexType>
  <xsd:complexType name="SocialProperties">
    <xsd:attribute ecore:unsettable="false" name="socialCohesion" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="populationDensity" type="ecore:EInt"/>
    <xsd:attribute ecore:unsettable="false" name="numberOfInhabitants" type="ecore:EInt"/>
  </xsd:complexType>
  <xsd:complexType name="LegalArea">
    <xsd:complexContent>
      <xsd:extension base="esdl:Potential">
        <xsd:attribute name="purpose" type="ecore:EString"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="RoofTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="FLATROOF"/>
      <xsd:enumeration value="SLANTEDROOF"/>
      <xsd:enumeration value="COMBINATION"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnergyLabelEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="LABEL_G"/>
      <xsd:enumeration value="LABEL_F"/>
      <xsd:enumeration value="LABEL_E"/>
      <xsd:enumeration value="LABEL_D"/>
      <xsd:enumeration value="LABEL_C"/>
      <xsd:enumeration value="LABEL_B"/>
      <xsd:enumeration value="LABEL_A"/>
      <xsd:enumeration value="LABEL_AP"/>
      <xsd:enumeration value="LABEL_APP"/>
      <xsd:enumeration value="LABEL_APPP"/>
      <xsd:enumeration value="LABEL_APPPP"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="EnergyService">
    <xsd:complexContent>
      <xsd:extension base="esdl:Service"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DemandResponseService">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyService"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Transformer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport">
        <xsd:attribute ecore:unsettable="false" name="voltagePrimary" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="voltageSecundary" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HeatExchange">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ResidentialBuildingTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="VRIJSTAANDE_WONING"/>
      <xsd:enumeration value="TWEE_ONDER_EEN_KAP_WONING"/>
      <xsd:enumeration value="RIJWONING"/>
      <xsd:enumeration value="MAISONNETTEWONING"/>
      <xsd:enumeration value="GALERIJWONING"/>
      <xsd:enumeration value="PORTIEKWONING"/>
      <xsd:enumeration value="FLATWONING"/>
      <xsd:enumeration value="TUSSENWONING"/>
      <xsd:enumeration value="HOEKWONING"/>
      <xsd:enumeration value="GALERIJCOMPLEX"/>
      <xsd:enumeration value="APPARTEMENTENCOMPLEX"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="Item">
    <xsd:attribute ecore:id="true" name="id" type="ecore:EString"/>
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute name="shortName" type="ecore:EString"/>
    <xsd:attribute ecore:opposite="owns" ecore:reference="esdl:Party" name="isOwnedBy" type="xsd:anyURI"/>
    <xsd:attribute name="description" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Measures">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="item" type="esdl:Item"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EConnection">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HConnection">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GConnection">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PowerPlant">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" minOccurs="0" name="mustRun" type="esdl:DateTimeProfile"/>
        </xsd:sequence>
        <xsd:attribute ecore:unsettable="false" name="fuel" type="esdl:PowerPlantFuelEnum"/>
        <xsd:attribute ecore:unsettable="false" name="maxLoad" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="minLoad" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="effMaxLoad" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="effMinLoad" type="ecore:EDouble"/>
        <xsd:attribute ecore:reference="esdl:EnergyCarrier" name="energyCarrier" type="xsd:anyURI"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="PowerPlantFuelEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="COAL"/>
      <xsd:enumeration value="BLAST_FURNACE_GAS"/>
      <xsd:enumeration value="NATURAL_GAS"/>
      <xsd:enumeration value="URANIUM"/>
      <xsd:enumeration value="HYDROGEN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="AbstractBuilding">
    <xsd:complexContent>
      <xsd:extension base="esdl:Asset">
        <xsd:sequence>
          <xsd:element ecore:opposite="containingBuilding" ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="asset" type="esdl:Asset"/>
        </xsd:sequence>
        <xsd:attribute ecore:unsettable="false" name="energyLabel" type="esdl:EnergyLabelEnum"/>
        <xsd:attribute ecore:unsettable="false" name="energyIndex" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Instance">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="area" type="esdl:Area"/>
    </xsd:sequence>
    <xsd:attribute ecore:id="true" name="id" type="ecore:EString"/>
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute name="description" type="ecore:EString"/>
    <xsd:attribute default="UNDEFINED" ecore:unsettable="false" name="detailLevel" type="esdl:AreaScopeEnum"/>
    <xsd:attribute ecore:unsettable="false" name="aggrType" type="esdl:AggrTypeEnum"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Service">
    <xsd:complexContent>
      <xsd:extension base="esdl:Item"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AggregatorService">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyService"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EVChargingStation">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Potential">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="contour" type="esdl:Polygon"/>
    </xsd:sequence>
    <xsd:attribute ecore:opposite="potentials" ecore:reference="esdl:Area" name="areas">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:id="true" name="id" type="ecore:EString"/>
    <xsd:attribute name="name" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="WindPotential">
    <xsd:complexContent>
      <xsd:extension base="esdl:Potential">
        <xsd:attribute ecore:unsettable="false" name="windspeed" type="ecore:EInt"/>
        <xsd:attribute ecore:unsettable="false" name="height" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AggregatedBuilding">
    <xsd:complexContent>
      <xsd:extension base="esdl:AbstractBuilding">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" minOccurs="0" name="energyLabelDistribution" type="esdl:EnergyLabelDistribution"/>
          <xsd:element ecore:resolveProxies="true" minOccurs="0" name="buildingYearDistribution" type="esdl:FromToDistribution"/>
        </xsd:sequence>
        <xsd:attribute ecore:reference="esdl:AbstractBuilding" name="aggregationOf">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:unsettable="false" name="numberOfBuildings" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SectorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="GEBOUWDE_OMGEVING"/>
      <xsd:enumeration value="ZAKELIJKE_DIENSTVERLENING"/>
      <xsd:enumeration value="INDUSTRIE"/>
      <xsd:enumeration value="AGRO_TUINBOUW"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Potentials">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="potential" type="esdl:Potential"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnergyCarrier">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyCarrierOrCommodity">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" minOccurs="0" name="costPerUnit" type="esdl:GenericProfile"/>
        </xsd:sequence>
        <xsd:attribute default="0.0" ecore:unsettable="false" name="energyContentPerUnit" type="ecore:EDouble"/>
        <xsd:attribute default="0.0" ecore:unsettable="false" name="emissionPerUnit" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="energyCarrierType" type="esdl:RenewableTypeEnum"/>
        <xsd:attribute ecore:unsettable="false" name="stateOfMatter" type="esdl:StateOfMatterEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Losses">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PowerToX">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CCS">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="RenewableTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="RENEWABLE"/>
      <xsd:enumeration value="FOSSIL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StateOfMatterEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="SOLID"/>
      <xsd:enumeration value="LIQUID"/>
      <xsd:enumeration value="GASEOUS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AvailableEnergyCarriers">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="energyCarrier" type="esdl:EnergyCarrier"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FuelCell">
    <xsd:complexContent>
      <xsd:extension base="esdl:CoGeneration"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="XToPower">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WindParc">
    <xsd:complexContent>
      <xsd:extension base="esdl:WindTurbine">
        <xsd:attribute ecore:unsettable="false" name="numberOfTurbines" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PVParc">
    <xsd:complexContent>
      <xsd:extension base="esdl:PVPanel">
        <xsd:attribute ecore:unsettable="false" name="numberOfPanels" type="ecore:EInt"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnergySystemInformation">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="availableEnergyCarriers" type="esdl:AvailableEnergyCarriers"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="energyPrices" type="esdl:EnergyPrices"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="availableCommodities" type="esdl:AvailableCommodities"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Pump">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Valve">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnergyPrices">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="elecPrice" type="esdl:GenericProfile"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="gasPrice" type="esdl:GenericProfile"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="GenericProfile">
    <xsd:annotation>
      <xsd:appinfo ecore:key="operations" source="http://www.eclipse.org/emf/2002/Ecore">
        <operation name="getProfile" type="esdl:ProfileElement" upperBound="-1">
          <parameter name="from" type="ecore:EDate"/>
          <parameter name="to" type="ecore:EDate"/>
          <parameter name="aggregationPrecision" type="esdl:Duration"/>
        </operation>
        <operation name="setProfile" type="ecore:EBoolean">
          <parameter name="profileElementList" type="esdl:ProfileElement" upperBound="-1"/>
        </operation>
      </xsd:appinfo>
      <xsd:documentation>All profiles should describe these fields: a name and a ProfileType. There are two different profile types: static, with static values stored in the ESDL model itself. And External, which allows you to refer to an externally defined profile (e.g. in an Energy Information System or a timeseries database)</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute default="UNDEFINED" ecore:unsettable="false" name="profileType" type="esdl:ProfileTypeEnum"/>
    <xsd:attribute ecore:id="true" name="id" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="StaticProfile">
    <xsd:annotation>
      <xsd:documentation>Stores the profile in the ESDL model itself, in contrast with an external profile, which refers to an external source for a profile</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:GenericProfile"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateTimeProfile">
    <xsd:annotation>
      <xsd:documentation>Describes a profile using one or more Profile elements. Each element defines a from- and a to-datetime and a value which is valid for this range. The to-field may be ommitted, meaning this value is valid for all time after the to-date.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:StaticProfile">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" name="element" type="esdl:ProfileElement">
            <xsd:annotation>
              <xsd:documentation>List of profile elements. Should have at least one element.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProfileElement">
    <xsd:annotation>
      <xsd:documentation>ProfileElement describes a single profile element describing a range and a value which is valid for this range. From-field is inclusive, To-field is exclusive, allowing you to describe ranges such as 1-1-2017T00:00:00.000 to 1-1-2018T00:00:00.000 instead of 31-12-2017T23:59:59:999. The to-field may be ommitted, meaning this value is valid for all time after the specified to-datetime.
Examples: The heat demand of a municipality in 2013 is 20 PJ. The range you define is then from 1-1-2013T to 1-1-2014T and the value 20 and ProfileType ENERGY_IN_PJ</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="from" type="ecore:EDate" use="required">
      <xsd:annotation>
        <xsd:documentation>including the value itself</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="to" type="ecore:EDate">
      <xsd:annotation>
        <xsd:documentation>exclusive the value itself</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ecore:unsettable="false" name="value" type="ecore:EDouble" use="required"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ExternalProfile">
    <xsd:annotation>
      <xsd:documentation>ExternalProfile allows to refer to an externally defined profile. Common uses are a profile defined in a (timeseries) database such as InfluxDB.
It allows you to specify a multiplier to scale the supplied external profile by a certain factor (e.g. when using NEDU profiles). Default the multiplier is '1'.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:GenericProfile">
        <xsd:attribute default="1.0" ecore:unsettable="false" name="multiplier" type="ecore:EDouble">
          <xsd:annotation>
            <xsd:documentation>A multiplier can be used to scale the supplied external profile by a certain factor (e.g. when using NEDU profiles). Default the multiplier is '1'.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SingleValue">
    <xsd:annotation>
      <xsd:documentation>A profile used to define a single value. This should be used when no information is present about the time. E.g. the price of a PV panel as currently known
When a model queries for a value from a certain date (and to a certain date), that information will be ignored and it will always return this value.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:StaticProfile">
        <xsd:attribute ecore:unsettable="false" name="value" type="ecore:EDouble" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="GenericDistribution">
    <xsd:attribute name="name" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Percentile">
    <xsd:attribute ecore:unsettable="false" name="percentile" type="ecore:EInt"/>
    <xsd:attribute ecore:unsettable="false" name="value" type="ecore:EDouble"/>
  </xsd:complexType>
  <xsd:complexType name="PercentileDistribution">
    <xsd:complexContent>
      <xsd:extension base="esdl:GenericDistribution">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="percentile" type="esdl:Percentile"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CoolingDemand">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Airco">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion">
        <xsd:attribute ecore:unsettable="false" name="power" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="CostUnitEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="MONEY_IN_EUR"/>
      <xsd:enumeration value="MONEY_IN_KEUR"/>
      <xsd:enumeration value="MONEY_IN_MEUR"/>
      <xsd:enumeration value="MONEY_IN_EUR_PER_KW"/>
      <xsd:enumeration value="MONEY_IN_EUR_PER_KWH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CostInformation">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="investmentCosts" type="esdl:GenericProfile"/>
      <xsd:element ecore:resolveProxies="true" minOccurs="0" name="installationCosts" type="esdl:GenericProfile"/>
      <xsd:element ecore:name="O_and_MCosts" ecore:resolveProxies="true" minOccurs="0" name="O_and_MCosts" type="esdl:GenericProfile"/>
    </xsd:sequence>
    <xsd:attribute default="UNDEFINED" ecore:unsettable="false" name="costUnit" type="esdl:CostUnitEnum"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="LabelDistribution">
    <xsd:complexContent>
      <xsd:extension base="esdl:GenericDistribution"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StringLabelDistribution">
    <xsd:complexContent>
      <xsd:extension base="esdl:LabelDistribution">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="stringPerc" type="esdl:StringPerc"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EnergyLabelDistribution">
    <xsd:complexContent>
      <xsd:extension base="esdl:LabelDistribution">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="labelPerc" type="esdl:EnergyLabelPerc"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StringPerc">
    <xsd:attribute name="label" type="ecore:EString"/>
    <xsd:attribute ecore:unsettable="false" name="percentage" type="ecore:EDouble"/>
  </xsd:complexType>
  <xsd:complexType name="EnergyLabelPerc">
    <xsd:attribute ecore:unsettable="false" name="energyLabel" type="esdl:EnergyLabelEnum"/>
    <xsd:attribute ecore:unsettable="false" name="percentage" type="ecore:EDouble"/>
  </xsd:complexType>
  <xsd:complexType name="FromToDistribution">
    <xsd:complexContent>
      <xsd:extension base="esdl:LabelDistribution">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="fromToPerc" type="esdl:FromToPerc"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FromToPerc">
    <xsd:attribute ecore:unsettable="false" name="from" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="to" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="percentage" type="ecore:EDouble"/>
  </xsd:complexType>
  <xsd:complexType name="PItemStat">
    <xsd:attribute ecore:unsettable="false" name="value" type="ecore:EDouble"/>
    <xsd:attribute ecore:unsettable="false" name="sigma" type="ecore:EDouble"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="AbstractVariance"/>
  <xsd:complexType name="SymetricVariance">
    <xsd:complexContent>
      <xsd:extension base="esdl:AbstractVariance">
        <xsd:attribute ecore:unsettable="false" name="sigma" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssymetricVariance">
    <xsd:complexContent>
      <xsd:extension base="esdl:AbstractVariance">
        <xsd:attribute ecore:unsettable="false" name="sigmaMin" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="sigmaPlus" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DoubleAssymetricVariance">
    <xsd:complexContent>
      <xsd:extension base="esdl:AbstractVariance">
        <xsd:attribute ecore:unsettable="false" name="plus34perc" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="plus48perc" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="min34perc" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="min48perc" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="GeothermalSourceTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="HEAT"/>
      <xsd:enumeration value="ELECTRICITY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CHPTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="STEG"/>
      <xsd:enumeration value="GAS_TURBINE"/>
      <xsd:enumeration value="GAS_MOTOR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CHP">
    <xsd:complexContent>
      <xsd:extension base="esdl:CoGeneration">
        <xsd:attribute ecore:name="CHPType" ecore:unsettable="false" name="CHPType" type="esdl:CHPTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Party">
    <xsd:attribute ecore:opposite="isOwnedBy" ecore:reference="esdl:Item" name="owns">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute ecore:id="true" name="id" type="ecore:EString"/>
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute name="shortName" type="ecore:EString"/>
    <xsd:attribute ecore:opposite="isOwnedBy" ecore:reference="esdl:Area" name="ownsArea">
      <xsd:simpleType>
        <xsd:list itemType="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="URIProfile">
    <xsd:annotation>
      <xsd:documentation>Describes a reference to a profile in an information system using a URI (e.g. a URI to a profile in Energy Information System (EIS))</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:ExternalProfile">
        <xsd:attribute ecore:name="URI" name="URI" type="ecore:EString"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="DatabaseProfile">
    <xsd:annotation>
      <xsd:documentation>Describes the fields of a generic database-based profile</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:ExternalProfile">
        <xsd:attribute name="host" type="ecore:EString"/>
        <xsd:attribute ecore:unsettable="false" name="port" type="ecore:EInt"/>
        <xsd:attribute name="database" type="ecore:EString"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InfluxDBProfile">
    <xsd:annotation>
      <xsd:documentation>Describes a profile based on a measurement and field as part of an InfluxDB timeseries query</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:DatabaseProfile">
        <xsd:attribute name="measurement" type="ecore:EString"/>
        <xsd:attribute name="field" type="ecore:EString"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Line">
    <xsd:complexContent>
      <xsd:extension base="esdl:Geometry">
        <xsd:sequence>
          <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="2" name="point" type="esdl:Point"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Geometry"/>
  <xsd:simpleType name="GlasTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="ENKEL_GLAS"/>
      <xsd:enumeration value="DUBBEL_GLAS"/>
      <xsd:enumeration value="HR_GLAS"/>
      <xsd:enumeration value="HRP_GLAS"/>
      <xsd:enumeration value="HRPP_GLAS"/>
      <xsd:enumeration value="HRPPP_GLAS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VentilationTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="NATURAL"/>
      <xsd:enumeration value="MECHANIC_IN"/>
      <xsd:enumeration value="MECHANIC_OUT"/>
      <xsd:enumeration value="MECHANIC_INOUT"/>
      <xsd:enumeration value="BALANCED"/>
      <xsd:enumeration value="BALANCED_WITH_HEATRECUPERATION"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GasHeaterTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="CR"/>
      <xsd:enumeration value="VR"/>
      <xsd:enumeration value="HR100"/>
      <xsd:enumeration value="HR104"/>
      <xsd:enumeration value="HR107"/>
      <xsd:enumeration value="HRE"/>
      <xsd:enumeration value="HRWW"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InhabitantsTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED"/>
      <xsd:enumeration value="ALLEENSTAAND"/>
      <xsd:enumeration value="TWEEVERDIENERS"/>
      <xsd:enumeration value="GEZIN_MET_KINDEREN"/>
      <xsd:enumeration value="BEJAARD_ECHTPAAR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AdditionalHeatingSourceTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NONE"/>
      <xsd:enumeration value="ELECTRIC"/>
      <xsd:enumeration value="GAS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GeothermalPotentialEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNKNOWN"/>
      <xsd:enumeration value="POSSIBLE"/>
      <xsd:enumeration value="GOOD"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GeothermalPowerEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNKNOWN"/>
      <xsd:enumeration value="POSSIBLE_GT5MWTH"/>
      <xsd:enumeration value="GOOD_GT5MWTH"/>
      <xsd:enumeration value="GOOD_GT7P5MWTH"/>
      <xsd:enumeration value="GOOD_GT10MWTH"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="Commodity">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyCarrierOrCommodity"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GasCommodity">
    <xsd:complexContent>
      <xsd:extension base="esdl:Commodity">
        <xsd:attribute ecore:unsettable="false" name="pressure" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="HeatCommodity">
    <xsd:complexContent>
      <xsd:extension base="esdl:Commodity">
        <xsd:attribute ecore:unsettable="false" name="temperature" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ElectricityCommodity">
    <xsd:complexContent>
      <xsd:extension base="esdl:Commodity">
        <xsd:attribute ecore:unsettable="false" name="voltage" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AvailableCommodities">
    <xsd:sequence>
      <xsd:element ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="commodity" type="esdl:Commodity"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" ecore:interface="true" name="EnergyCarrierOrCommodity">
    <xsd:attribute name="name" type="ecore:EString"/>
    <xsd:attribute ecore:id="true" name="id" type="ecore:EString"/>
  </xsd:complexType>
  <xsd:complexType name="Range">
    <xsd:complexContent>
      <xsd:extension base="esdl:StaticProfile">
        <xsd:attribute ecore:unsettable="false" name="minValue" type="ecore:EDouble"/>
        <xsd:attribute ecore:unsettable="false" name="maxValue" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SolarFieldPotential">
    <xsd:complexContent>
      <xsd:extension base="esdl:Potential">
        <xsd:attribute ecore:unsettable="false" name="solarIrradiance" type="ecore:EDouble"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Duration">
    <xsd:attribute ecore:unsettable="false" name="value" type="ecore:ELong"/>
    <xsd:attribute default="SECOND" ecore:unsettable="false" name="durationUnit" type="esdl:DurationUnitEnum"/>
  </xsd:complexType>
  <xsd:complexType name="EnergyNetwork">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transport"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
