esdl/gen/esdlXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:esdl="http://www.tno.nl/esdl" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tno.nl/esdl">
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:simpleType name="CommodityEnum">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="ELECTRICITY"/>
      <xsd:enumeration value="GAS"/>
      <xsd:enumeration value="HEAT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AreaTypeEnum">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="BUILDING"/>
      <xsd:enumeration value="STREET"/>
      <xsd:enumeration value="NEIGHBOURHOOD"/>
      <xsd:enumeration value="DISTRICT"/>
      <xsd:enumeration value="VILLAGE"/>
      <xsd:enumeration value="CITY"/>
      <xsd:enumeration value="MUNICIPALITY"/>
      <xsd:enumeration value="REGION"/>
      <xsd:enumeration value="PROVINCE"/>
      <xsd:enumeration value="STATE"/>
      <xsd:enumeration value="COUNTRY"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProfileTypeEnum">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="SOLARIRRADIANCE_IN_W_PER_M2"/>
      <xsd:enumeration value="WINDSPEED_IN_M_PER_S"/>
      <xsd:enumeration value="STATEOFCHARGE_IN_WS"/>
      <xsd:enumeration value="ENERGY_IN_WH"/>
      <xsd:enumeration value="ENERGY_IN_KWH"/>
      <xsd:enumeration value="ENERGY_IN_MWH"/>
      <xsd:enumeration value="ENERGY_IN_GWH"/>
      <xsd:enumeration value="ENERGY_IN_J"/>
      <xsd:enumeration value="ENERGY_IN_KJ"/>
      <xsd:enumeration value="ENERGY_IN_MJ"/>
      <xsd:enumeration value="ENERGY_IN_GJ"/>
      <xsd:enumeration value="ENERGY_IN_TJ"/>
      <xsd:enumeration value="ENERGY_IN_PJ"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DurationUnitEnum">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="SECOND"/>
      <xsd:enumeration value="MINUTE"/>
      <xsd:enumeration value="UUR"/>
      <xsd:enumeration value="DAY"/>
      <xsd:enumeration value="WEEK"/>
      <xsd:enumeration value="MONTH"/>
      <xsd:enumeration value="YEAR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BuildingTypeEnum">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="RESIDENTIAL"/>
      <xsd:enumeration value="GATHERING"/>
      <xsd:enumeration value="PRISON"/>
      <xsd:enumeration value="HEALTHCARE"/>
      <xsd:enumeration value="INDUSTRY"/>
      <xsd:enumeration value="OFFICE"/>
      <xsd:enumeration value="EDUCATION"/>
      <xsd:enumeration value="SPORTS"/>
      <xsd:enumeration value="SHOPPING"/>
      <xsd:enumeration value="GREENHOUSE"/>
      <xsd:enumeration value="OTHER"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ConsTypeEnum">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="PRIMARY"/>
      <xsd:enumeration value="FINAL"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProdTypeEnum">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="RENEWABLE"/>
      <xsd:enumeration value="NONRENEWABLE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="EnergyAsset">
    <xsd:complexContent>
      <xsd:extension base="esdl:Asset">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="ports" type="esdl:Port">
            <xsd:annotation>
              <xsd:documentation/>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="EnergyAsset" type="esdl:EnergyAsset"/>
  <xsd:complexType abstract="true" name="Producer">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute name="prodType" type="esdl:ProdTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Producer" type="esdl:Producer"/>
  <xsd:complexType abstract="true" name="Consumer">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute name="consType" type="esdl:ConsTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Consumer" type="esdl:Consumer"/>
  <xsd:complexType abstract="true" name="Storage">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute name="capacity" type="xsd:double"/>
        <xsd:attribute name="efficiency" type="xsd:double"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Storage" type="esdl:Storage"/>
  <xsd:complexType abstract="true" name="Conversion">
    <xsd:annotation>
      <xsd:documentation>Conversion Capability</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute name="efficiency" type="xsd:double"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Conversion" type="esdl:Conversion">
    <xsd:annotation>
      <xsd:documentation>Conversion Capability</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="Transmission">
    <xsd:complexContent>
      <xsd:extension base="esdl:EnergyAsset">
        <xsd:attribute name="capacity" type="xsd:double"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Transmission" type="esdl:Transmission"/>
  <xsd:complexType name="EnergySystem">
    <xsd:complexContent>
      <xsd:extension base="esdl:AssetCollection">
        <xsd:attribute name="energyUnit" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="EnergySystem" type="esdl:EnergySystem"/>
  <xsd:complexType name="WindTurbine">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:attribute name="power" type="xsd:double"/>
        <xsd:attribute name="rotorDiameter" type="xsd:double"/>
        <xsd:attribute name="height" type="xsd:double"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="WindTurbine" type="esdl:WindTurbine"/>
  <xsd:complexType name="WindParc">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="windTurbine" type="esdl:WindTurbine"/>
        </xsd:choice>
        <xsd:attribute name="numberOfMills" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="WindParc" type="esdl:WindParc"/>
  <xsd:complexType name="PVPanel">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:attribute name="power" type="xsd:double"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PVPanel" type="esdl:PVPanel"/>
  <xsd:complexType name="PVParc">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="pvPanel" type="esdl:PVPanel"/>
        </xsd:choice>
        <xsd:attribute name="numberOfPanels" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PVParc" type="esdl:PVParc"/>
  <xsd:complexType name="Battery">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage">
        <xsd:attribute name="selfDischarge" type="xsd:double"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Battery" type="esdl:Battery"/>
  <xsd:complexType name="ElectricityNetwork">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transmission"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ElectricityNetwork" type="esdl:ElectricityNetwork"/>
  <xsd:complexType name="ElectricityCable">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transmission"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ElectricityCable" type="esdl:ElectricityCable"/>
  <xsd:complexType name="AggregatedConsumer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="aggregationOf" type="esdl:Consumer"/>
        </xsd:choice>
        <xsd:attribute name="aggregationOf" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AggregatedConsumer" type="esdl:AggregatedConsumer"/>
  <xsd:complexType name="ProfileItem">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="value" type="xsd:double"/>
  </xsd:complexType>
  <xsd:element name="ProfileItem" type="esdl:ProfileItem"/>
  <xsd:complexType name="Profile">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="profileItem" type="esdl:ProfileItem"/>
      <xsd:element name="duration" type="esdl:Duration"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="start" type="xsd:string"/>
    <xsd:attribute name="profileType" type="esdl:ProfileTypeEnum"/>
    <xsd:attribute name="profileRef" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Profile" type="esdl:Profile"/>
  <xsd:complexType abstract="true" name="AssetCollection">
    <xsd:complexContent>
      <xsd:extension base="esdl:Asset">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="asset" type="esdl:Asset"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AssetCollection" type="esdl:AssetCollection"/>
  <xsd:complexType name="Building">
    <xsd:complexContent>
      <xsd:extension base="esdl:AssetCollection">
        <xsd:attribute name="type" type="esdl:BuildingTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Building" type="esdl:Building"/>
  <xsd:complexType name="Area">
    <xsd:complexContent>
      <xsd:extension base="esdl:AssetCollection">
        <xsd:attribute name="areaType" type="esdl:AreaTypeEnum"/>
        <xsd:attribute name="aggrLevel" type="esdl:AreaTypeEnum"/>
        <xsd:attribute name="area" type="xsd:double"/>
        <xsd:attribute name="numberOfInhabitants" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Area" type="esdl:Area"/>
  <xsd:complexType abstract="true" name="Port">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="connectedTo" type="esdl:Port"/>
      <xsd:element name="profile" type="esdl:Profile"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="commodity" type="esdl:CommodityEnum"/>
    <xsd:attribute name="id" type="xsd:string"/>
    <xsd:attribute name="maxPower" type="xsd:double"/>
    <xsd:attribute name="connectedTo" type="xsd:string"/>
    <xsd:attribute name="profile" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Port" type="esdl:Port"/>
  <xsd:complexType name="AggregatedProducer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="aggregationOf" type="esdl:Producer"/>
        </xsd:choice>
        <xsd:attribute name="aggregationOf" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AggregatedProducer" type="esdl:AggregatedProducer"/>
  <xsd:complexType name="Duration">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="value" type="xsd:double"/>
    <xsd:attribute name="durarionUnit" type="esdl:DurationUnitEnum"/>
  </xsd:complexType>
  <xsd:element name="Duration" type="esdl:Duration"/>
  <xsd:complexType name="InPort">
    <xsd:complexContent>
      <xsd:extension base="esdl:Port"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InPort" type="esdl:InPort"/>
  <xsd:complexType name="OutPort">
    <xsd:complexContent>
      <xsd:extension base="esdl:Port"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OutPort" type="esdl:OutPort"/>
  <xsd:complexType abstract="true" name="Asset">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="id" type="xsd:string"/>
    <xsd:attribute name="requiredSpaceInM2" type="xsd:int"/>
    <xsd:attribute name="purchaseCosts" type="xsd:int"/>
    <xsd:attribute name="operationalCosts" type="xsd:int"/>
    <xsd:attribute name="commissioningDate" type="xsd:string"/>
    <xsd:attribute name="expectedDecommissioningDate" type="xsd:string"/>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Asset" type="esdl:Asset"/>
  <xsd:complexType name="GenericConsumer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Consumer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenericConsumer" type="esdl:GenericConsumer"/>
  <xsd:complexType name="GenericProducer">
    <xsd:complexContent>
      <xsd:extension base="esdl:Producer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenericProducer" type="esdl:GenericProducer"/>
  <xsd:complexType name="GenericStorage">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenericStorage" type="esdl:GenericStorage"/>
  <xsd:complexType name="GenericTransmission">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transmission"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenericTransmission" type="esdl:GenericTransmission"/>
  <xsd:complexType name="GenericConversion">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenericConversion" type="esdl:GenericConversion"/>
  <xsd:complexType name="AggregatedTransmission">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transmission">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="aggregationOf" type="esdl:Transmission"/>
        </xsd:choice>
        <xsd:attribute name="aggregationOf" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AggregatedTransmission" type="esdl:AggregatedTransmission"/>
  <xsd:complexType name="AggregatedConversion">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="aggregationOf" type="esdl:Conversion"/>
        </xsd:choice>
        <xsd:attribute name="aggregationOf" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AggregatedConversion" type="esdl:AggregatedConversion"/>
  <xsd:complexType name="AggregatedStorage">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="aggregationOf" type="esdl:Storage"/>
        </xsd:choice>
        <xsd:attribute name="aggregationOf" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AggregatedStorage" type="esdl:AggregatedStorage"/>
  <xsd:complexType name="AppartmentComplex">
    <xsd:complexContent>
      <xsd:extension base="esdl:AssetCollection"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AppartmentComplex" type="esdl:AppartmentComplex"/>
  <xsd:complexType name="HeatStorage">
    <xsd:complexContent>
      <xsd:extension base="esdl:Storage">
        <xsd:attribute name="loss" type="xsd:double"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="HeatStorage" type="esdl:HeatStorage"/>
  <xsd:complexType name="GasHeater">
    <xsd:complexContent>
      <xsd:extension base="esdl:Conversion"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GasHeater" type="esdl:GasHeater"/>
  <xsd:complexType name="HeatNetwork">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transmission"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="HeatNetwork" type="esdl:HeatNetwork"/>
  <xsd:complexType name="GasNetwork">
    <xsd:complexContent>
      <xsd:extension base="esdl:Transmission"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GasNetwork" type="esdl:GasNetwork"/>
</xsd:schema>
